@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-orangey-yellow: hsl(39, 100%, 56%);
  --clr-green-teal: hsl(166, 100%, 37%);
  ---clr-cobalt-blue: hsl(234, 85%, 45%);

  --clr-bg-lightslate-blue: hsl(252, 100%, 67%);
  --clr-bg-lightroyal-blue: hsl(241, 81%, 54%);

  --clr-violet-blue: hsla(256, 72%, 46%, 1);
  --clr-persian-blue: hsla(241, 72%, 46%, 0);

  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-darkgray-blue: hsl(224, 30%, 27%);
}
* {
  font-family: "Hanken Grotesk";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  background: var(--clr-white);
  overflow: clip;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 50px 50px;
  background: linear-gradient(
    to bottom,
    var(--clr-bg-lightslate-blue),
    var(--clr-bg-lightroyal-blue)
  );
  padding: 2.5rem;
  gap: 2rem;
  width: 100%;
  #result-h1 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--clr-light-lavender);
  }
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(var(--clr-violet-blue), var(--clr-persian-blue));
  border-radius: 50%;
  width: 125px;
  height: 120px;
  > span {
    color: var(--clr-white);
    font-weight: 800;
    font-size: 5.5rem;
  }
  > a {
    color: var(--clr-light-lavender);
    font-weight: 500;
  }
}
.result-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--clr-light-lavender);
  > h2 {
    font-size: 2.2rem;
    color: var(--clr-white);
    padding: 8px;
  }
  > p {
    text-align: center;
  }
}
.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  #summary-h1 {
    width: 100%;
    color: var(clr-darkgray-blue);
    font-size: 1.8rem;
  }
}
.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
    > img {
      width: 25px;
      height: 25px;
    }
  }
  > span {
    color: var(clr-darkgray-blue);
    font-size: 1.7rem;
    font-weight: 700;
    > a {
      padding-left: 0.8rem;
      font-size: 1.5rem;
      color: var(--clr-darkgray-blue);
    }
  }
}
.reaction {
  background: hsla(0, 100%, 67%, 0.1);
  > div p {
    color: var(--clr-light-red);
  }
}
.memory {
  background: hsla(39, 100%, 56%, 0.1);
  > div p {
    color: var(--clr-orangey-yellow);
  }
}
.verbal {
  background: hsla(166, 100%, 37%, 0.1);
  > div p {
    color: var(--clr-green-teal);
  }
}
.visual {
  background: hsla(234, 85%, 45%, 0.1);
  > div p {
    color: var(---clr-cobalt-blue);
  }
}

button {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-pale-blue);
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 1.5rem;
  background: var(--clr-darkgray-blue);
  width: min(80%, 300px);
}

button:hover {
  background: linear-gradient(
    to bottom,
    var(--clr-bg-lightslate-blue),
    var(--clr-bg-lightroyal-blue)
  );
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (width > 1024px) {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .container {
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 10px 30px 0px hsla(224, 30%, 27%, 0.134);
    gap: 2rem;
    width: min(65%, 650px);
  }
  .result-container {
    justify-content: center;
    border-radius: 50px;
    #result-h1 {
      font-size: 2.4rem;
    }
    .result {
      width: 165px;
      height: 160px;
    }
    .result-description h2 {
      font-size: 3rem;
    }
  }
  #summary-h1 {
    font-size: 2.5rem;
  }
}
