@font-face {
  font-family: "MyFont";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
}
* {
  font-family: "MyFont", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  min-width: 375px;
}
body {
  font-size: 1.8rem;
  background: hsl(0, 0%, 100%);
  overflow: clip;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 50px 50px;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  padding: 2.5rem;
  gap: 2rem;
  width: 100%;
  #result-h1 {
    text-align: center;
    font-size: 1.8rem;
    color: hsl(241, 100%, 89%);
  }
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 125px;
  height: 120px;
  > span {
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    font-size: 5.5rem;
  }
  > a {
    color: hsl(241, 100%, 89%, 0.5);
    font-weight: 500;
  }
}
.result-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: hsl(241, 100%, 89%);
  > h1 {
    font-size: 2.2rem;
    color: hsl(0, 0%, 100%);
    padding: 8px;
  }
  > p {
    text-align: center;
  }
}
.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  #summary-h1 {
    width: 100%;
    color: hsl(224, 30%, 27%);
    font-size: 1.8rem;
  }
}
.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.5rem;
    gap: 1rem;
    > img {
      width: 25px;
      height: 25px;
    }
  }
  > span {
    color: hsl(224, 30%, 27%);
    font-size: 1.7rem;
    font-weight: 700;
    > a {
      padding-left: 0.8rem;
      font-size: 1.5rem;
      color: hsl(245, 6%, 60%);
    }
  }
}
.reaction {
  background: hsla(0, 100%, 67%, 0.09);
  > div p {
    color: hsl(0, 100%, 67%);
  }
}
.memory {
  background: hsla(39, 100%, 56%, 0.09);
  > div p {
    color: hsl(39, 100%, 56%);
  }
}
.verbal {
  background: hsla(166, 100%, 37%, 0.09);
  > div p {
    color: hsl(166, 100%, 37%);
  }
}
.visual {
  background: hsla(234, 85%, 45%, 0.09);
  > div p {
    color: hsl(234, 85%, 45%);
  }
}

button {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 24px;
  outline: none;
  border: none;
  padding: 1.5rem;
  background: hsl(224, 30%, 27%);
  width: min(80%, 300px);
}

button:hover {
  background: linear-gradient(
    to bottom,
    hsl(256, 72%, 46%),
    hsl(241, 72%, 46%)
  );
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (width > 1024px) {
  .wrapper {
    justify-content: center;
    align-items: center;
  }
  .container {
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 10px 30px 0px hsla(224, 30%, 27%, 0.134);
    gap: 2rem;
    width: min(65%, 650px);
  }
  .result-container {
    justify-content: center;
    border-radius: 50px;
    #result-h1 {
      font-size: 2.4rem;
    }
    .result {
      width: 165px;
      height: 160px;
    }
    .result-description h2 {
      font-size: 3rem;
    }
  }
  #summary-h1 {
    font-size: 2.5rem;
  }
}
